.container {
  background-color: rgb(170, 246, 250);
  width: 40%;
  padding: 1em;
  border-radius: 10px;
  text-shadow: 6px 4px 7px rgba(242, 249, 156, 0.6);
  margin-bottom: 2em;
  align-items: center;
  font-size: xx-small;
  box-shadow: 4px 4px 2px 0px rgba(223, 247, 179, 0.75);
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
  margin-bottom: 2em;
  align-items: center;
  font-size: xx-small;
}
.container:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease-in-out;
  box-shadow: 3px 2px 20px 5px rgba(252, 234, 79, 0.993);
}
.container img {
  width: 70%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
}
.container img:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease-in-out;
}
.customButton {
  transform: scale(1.2);
}