.container{
    margin-bottom: 2em;
    align-items: center;
   font-size: xx-small;
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}
