.dog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(88, 250, 253);
    width: auto;
    padding: 4%;
    padding-bottom: 10%;
}

.dogheader {
    margin-top: -30PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:1.5rem;
    font-family: 'Tahoma', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 48, 244);
    letter-spacing: 15px;
    text-shadow: 0px 0px 5px rgba(57, 92%, 59%);
}

.dogcontent {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(195, 100%, 40%);
    margin: 0px 100px 0px 100px;
    border-radius: 20px;
    background-color: rgba(88, 250, 253);
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    font-family: 'Tahoma', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 48, 244);
}


.dogcontent img {
    max-width: 60%;
    border-radius: 20px 0px 0px 20px;
}

.dogs {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: max-content;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
}
.dogs p{
    margin: 0;
}

fieldset {
    border: 0px;
    border-bottom: 2px solid rgb(195, 100%, 40%);
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

.cardText {
    font-size: 16px;
    margin: 5px 0;
}