.errorContainer {
    background-color: rgb(88, 250, 253);
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    z-index: 1;
}

.displayError {
    color: rgb(30, 48, 244);
    display: flex;
    justify-content: baseline;
    background-color: rgb(88, 250, 253);
    box-shadow: 0px 0px 85px rgb(255, 255, 255);
    flex-direction: column;
    width: 240px;
    height: 620px;
    text-align: center;
    padding: 74px;
}

.errorContainer img {
    border-radius: 100%;
    box-shadow: 0px 0px 85px rgb(249, 237, 78);
    border: 2px solid rgb(195, 100%, 40%);
    margin: auto;
    margin-top: 20px;
}